:root{
  --Dark-blue: hsl(233,26%,24%);
  --Line-Green: #31d35c;
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}


*{
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Public Sans';
}
a{
  text-decoration: none;
  transition: .3s;
}
ul{
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
body{
  font-family: 'Public Sans';
}
h1, h2, h3, h4, .header-nav a:hover{
  color: var(--Dark-blue);
}
p, small, .header-nav a{
  color: var(--Grayish-Blue);
}
.item-footer p, .item-links a, .blog p, small, .cards-container p, .container > p, .main-content p, .request, .header-nav a{
  font-size: 1.5rem;
}
.cards-container, .article-container{
  align-items: center;
  grid-gap: 3rem;
}
.container-grid, .cards-container, .article-container{
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header-container, .header-nav, .header-nav ul, main, .item-logo ul{
  display: flex;
}
.header-nav a:hover::after, .request{
  background-image: linear-gradient(
    to right,
    var(--Line-Green),
    var(--Bright-Cyan)
  );
}
.active ul, .pockup, .main-image, .header-nav a:hover::after, header{
  position: absolute;
}
.item-article:hover, .request:hover, .header-nav a:hover{
  cursor: pointer;
}

/* HEADER */

header{
  z-index: 1;
  width: 100%;
  background-color: white;
}
.header-container{
  height: 6rem;
}
.logo{
  width: 15rem;
  height: 2.5rem;
}
.header-container, .header-nav, .header-nav ul{
  align-items: center;
  text-align: center;
  height: 6rem;
  transition: .3s;
}
.header-nav li{
  margin: 0 .5rem;
  width: 6.7rem;
}
.header-nav a{
  padding: 2rem 0;
  width: 6rem;
}
.header-nav a:hover::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 7rem;
  height: .3rem;
  top: 5.7rem;
}
.header-nav{
  transition: .3s;
}
.icon{
  display: none;
}
.header-container{
  justify-content: space-between;
  margin: 0 5vw;
}
.request{
  border: none;
  padding: 1.5rem 2.5rem;
  border-radius: 5.0rem;
  color: white;
}
.request:hover{
  background-image: linear-gradient(
    to right,
  rgb(93, 235, 131),
    hsl(192, 85%, 62%)
  );
}

/* MAIN */

main{
  height: 60rem;
}
.main-image{
  background-image: url(images/bg-intro-desktop.svg);
  width: 76rem;
  height: 80rem;
  margin-top: -20rem;
  right: 0;
}
.main-image-mobile{
  display: none;
}
.mockup-mobile{
  display: none;
}
.pockup{
  background-image: url(images/image-mockups.png);
  width: 54rem;
  height: 93.9rem;
  top: -18rem;
  right: 0px;
}
.main-content{
  padding-left: 5vw;
  margin-top: 20rem;
}
.main-content p{
  margin: 2rem 0 3rem;
  line-height: 2.5rem;
  max-width: 38rem;
}
h1{
  font-weight: 300;
  font-size: 5rem;
}

/* ABOUT */

.about{
  background-color: var(--Light-Grayish-Blue);
  height: 63rem;
  padding: 8rem 5vw;
}
.container .cards-container {
  gap: 3rem;
}
.container > p{
  margin: 2.5rem 0 8rem;
  line-height: 2.5rem;
}
.container h3{
  font-weight: 300;
  font-size: 2.5rem;
  margin: 3rem 0 2rem;
}
.cards-container p{
  line-height: 2.5rem;
}
h2{
  font-size: 3.5rem;
  font-weight: 300;
}
.card{
  height: 100%;
}

/* ARTICLES */

.article-container img{
  height: 16rem;
  width: 100%;
}
.blog{
  height: 63rem;
  background-color: var(--Very-Light-Gray);
  padding: 8rem 5vw 0;
}
.blog h2{
  margin-bottom: 4rem;
}
h4{
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem 0;
}
.item-article{
  height: 40rem;
  background-color: white;
  border-radius: .5rem;
}
.item-article img{
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.item-article:hover h4{
  color: var(--Bright-Cyan);
}
.article-content{
  width: 80%;
  margin: 2rem auto 0;
}
.article-content p{
  line-height: 2.3rem;
}

/* FOOTER */

footer{
  background-color: var(--Dark-blue);
  height: 21rem;
}
.container-grid{
  margin: 0 auto;
  padding-top: 4rem;
  height: 21rem;
}
.item-links a{
  color: white;
  margin-left: 7rem;
}
.item-links li{
  margin-bottom: 2rem;
}
.item-footer{
  text-align: end;
}
.item-footer p{
  margin-top: 2rem;
}
.item-links a:hover{
  color: #31d35c;
}
.item-logo ul{
  gap: 1.5rem;
  margin-top: 4rem;
}

/* RESPONSIVO */

@media(max-width:1140px){
  /* MAIN */

  .main-image{
    width: 50vw;
    height: 80rem;
  }
  .pockup{
    width: 40vw;
    height: 93.9rem;
    size: 10px 10px;
  }

  /* ARTICLE */

  .article-container{
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    grid-gap: 3rem;
    margin: 0 auto;
  }
  .item-article{
    max-width: 30rem;
    margin: 0 auto;
  }
  .blog{
    height: auto;
    padding-bottom: 10rem;
  }
}

@media(max-width:1030px){
  /* ABOUT */
  .about{
    height: auto;
  }
  .cards-container{
    grid-template-columns: 1fr 1fr;
  }
  .card{
    text-align: center;
    max-width: 30vw;
  }
  .cards-container img, .card{
    margin: 0 auto;
  }
}

@media(max-width:900px){
  /* MENU MOBILE */
  .header-nav ul, .header-container > button, .header-nav a:hover::after{
    display: none;
  }
  .icon, .active ul, .active ul::after{
    display: block;
  }
  .icon:hover{
    cursor: pointer;
  }
  .active ul{
    position: absolute;
    top: 8rem;
    right: 5vw;
    background-color: white;
    height: auto;
    width: 90vw;
    margin: 0 auto;
    border-radius: .7rem;
  }
  .active li{
    text-align: center;
    width: 90vw;
    margin: 3rem 0;
  }
  .active ul::after{
    content: '';
    z-index: -1;
    position: absolute;
    background-image: linear-gradient(
      rgba(46, 46, 46, 0.63),
      rgba(255, 255, 255, 0)
    );
    width: 120%;
    top: -2rem;
    left: -5vw;
    height: 50rem;
  }
}

@media(max-width:740px){
  /* MAIN */
  main{
    display: inline;
  }
  .main-image, .pockup{
    display: none;
  }
  .mockup-mobile, .main-image-mobile{
    display: block;
    position: absolute;
  }
  .mockup-mobile{
    width: 80vw;
    margin: 0 10vw;
    top: -38vw;
  }
  .main-image-mobile{
    top: 6rem;
    width: 100vw;
    height: 40rem;
  }
  .main-content{
    margin-top: 45rem;
    margin-bottom: 8rem;
    padding-left: 0;
  }
  .main-content p{
    margin: 2rem auto;
  }
  header{
    top: 0;
  }
  .about h2, .about p, .blog .container > h2, .main-content{
    text-align: center;
  }

  /* FOOTER */

  .container-grid{
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 10rem;
  }
  .item-footer{
    grid-column: 1/4;
    margin: 5rem auto 0;
    text-align: center;
  }
  footer, .container-grid{
    height: auto;
  }
}

@media(max-width: 620px){
  .mockup-mobile{
    top: -25rem;
    margin: 0 5vw;
    width: 90vw;
  }
  .cards-container, .article-container{
    grid-template-columns: 1fr;
  }
  .item-article, .card{
    min-width: 60vw;
  }
  .container-grid{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5rem;
  }
  .item-logo{
    margin: 0 auto 5rem;
  }
  .item-footer, .item-logo{
    grid-column: 1/3;
  }
  .item-links a, .item-links{
    text-align: center;
    margin: 0;
  }
}

@media(max-width: 580px){
  .mockup-mobile{
    top: -12rem;
    margin: 0 10vw;
    width: 80vw;
  }
  .container-grid{
    grid-template-rows: 1fr 9.5rem 8rem 1fr;
    gap: 0;
  }
  .item-links{
    grid-column: 1/3;
  }
  .item-links li{
    margin-bottom: 1.5rem;
  }
}

@media(max-width: 425px){
  .mockup-mobile{
    top: -5rem;
    margin: 0 5vw;
    width: 90vw;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
  .container h3{
    font-size: 2.5rem;
  }
}

@media(max-width: 375px){
  main p{
    width: 80vw;
  }
}